<!DOCTYPE html>
<html ng-app="OneBoard">
<head>
  <meta http-equiv="X-UA-Compatible" content="ID=edge,chrome=1"/>  
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store" /> 
  <meta http-equiv="Accept-Encoding" content="gzip, deflate" />
  <script src="/vendor/jquery-3.1.1.min.js"></script>
  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular/angular-route.min.js"></script>
  <script src="/vendor/bootstrap.min.js"></script>
  <script src="/js/one.js"></script>
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">  
  <link rel="stylesheet" href="/css/app.css">  
</head>
<body ng-controller="indexController">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">Link</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Dropdown
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Action</a>
              </li>
              <li>
                <a href="#">Another action</a>
              </li>
              <li>
                <a href="#">Something else here</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="#">Separated link</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="content">
    <div class="leftMenu col-lg-2">321</div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 " style="height:1200px;">
          <div class="container-fluid board">
            <div class="row">
              <div class="col-lg-3 head"></div>
              <div class="col-lg-3 head">
                <label>To do</label>
              </div>
              <div class="col-lg-3 head">
                <label>In progress</label>
              </div>
              <div class="col-lg-3 head">
                <label>Done</label>
              </div>
            </div>
            <div class="row" ng-repeat="pbi in pbis">
              <div class="col-lg-3 pbi" ng-bind="pbi.title"></div>
              <div class="col-lg-3 backlog" draggable="true" >
                <div task class="task" ng-repeat="todo in pbi.toDos" draggable="true" drag-start="mytest()">
                  <p ng-bind="todo.title"></p>
                </div>
              </div>
              <div class="col-lg-3 backlog" draggable="true" drag-area drag-enter="enterTest()" drop="dropTest()"></div>
              <div class="col-lg-3 backlog"></div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>